# Naive Bayes Spam Filter
In this notebook we will train and validate a Naive Bayes spam filter (classifier). The plan is to use the [UCI spambase dataset](https://archive.ics.uci.edu/ml/datasets/Spambase) to determine what messages are spam or not spam.

## Bayes Theorem

Given the event that the message is spam by S and the message contains a word by W, Bayes theorem allows us to calculate the probability that the message is spam given the word(s) from the trained probabilities of the message is spam if it contains a word. 

$$ 
P(S|W) = \frac{P(W|S)P(S)}{P(W)} = \frac{P(W|S)P(S)}{P(W|S)P(S) + P(W|!S)P(!S)} 
$$

In [8]:
import pandas as pd
import os
import numpy as np

import get_words

In [19]:
def load_data():
    """ 
    Load the spambase dataset
    """
    word_catagories = get_words.get_words()
    column_names = np.concatenate((word_catagories, ['target']))
    column_numbers = np.concatenate((np.arange(len(word_catagories)), [57]))

    data = pd.read_csv(os.path.join('.', 'data', 'spambase.data'), 
                       names=column_names, usecols=column_numbers)
    return data

In [20]:
data = load_data()

In [21]:
data.head()

,make,address,all,our,over,remove,internet,order,mail,receive,...,direct,cs,meeting,original,project,re,edu,table,conference,target
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.0,0.0,0.0,0.07,0.0,0.0,0.00,0.0,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.06,0.0,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,1